<h2>💎 Open Source</h2>
<ul class="main-list">
  <li class="main-list-item">
    ✡️ <a href="https://jsbros.github.io/hedron">Hedron</a>
  </li>
  <li class="main-list-item">
    🔥 <a href="https://github.com/JSBros/react-firebase-boilerplate/">React Firebase Boilerplate</a>
  </li>
  <li class="main-list-item">
    💌 <a href="https://jsbros.github.io/react-tinyletter/">React TinyLetter</a>
  </li>
  <li class="main-list-item">
    🎨 <a href="https://jsbros.github.io/uigradients">uiGradients</a>
  </li>
  <li class="main-list-item">
    🖥 <a href="https://github.com/JSBros/ViMD/">ViMD.io</a>
  </li>
</ul>

<h2>🎓 Learn</h2>
<ul class="main-list">
  <li class="main-list-item">📚 JSBro School (Coming Soon)</li>
</ul>

<hr />

<h2>☕️ Connect</h2>
<ul class="main-list">
  <li class="main-list-item">
    💬 <a href="https://slackin-xtuseyimsc.now.sh/">JSBro on Slack</a>
  </li>
  <li class="main-list-item">
    📬 <a href="mailto:gem@jsb.ro">email</a>
  </li>
</ul>
