<h2>💎 Open Source</h2>
<ul class="main-list">
  <li class="main-list-item">
    ✡️ <a href="https://github.com/garetmckinley/hedron">Hedron</a>
  </li>
  <li class="main-list-item">
    🎨 <a href="https://garetmckinley.github.io/uigradients">uiGradients</a>
  </li>
</ul>

<h2>🎓 Learn</h2>
<ul>
  <li>📚 JSBro School (Coming Soon)</li>
</ul>

<hr />

<h2>☕️ Connect</h2>
<ul class="main-list">
  <li class="main-list-item">
    💬 <a href="https://kiwiirc.com/client/irc.freenode.net/?&theme=cli#jsbro">#jsbro on IRC</a>
  </li>
  <li class="main-list-item">
    📬 <a href="mailto:gem@jsb.ro">email</a>
  </li>
</ul>
